<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel = "icon" href ="/img/weather.png">
    </head>
    <body>
        <div class="sticky">
        {{>header}}
        <img class="pimg" src="/img/about.jpg">
        </div>
        <p>This is site was created by {{name}} .It uses data from mapbox.com and weather-stack.com to provide forecast</p>
        <footer>{{>footer}}</footer>
    </body>
</html>