<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel = "icon" href ="/img/weather.png">
    </head>
    <body>
        <div class="sticky">
        {{>header}}
        <img class="pimg" src="/img/book.jpeg">
        </div>
        <p>This is {{name}}</p>
        <footer>{{>footer}}</footer>
    </body>
</html>