<!DOCTYPE html>
<html>
    <head>
        <title>HELP</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel = "icon" href ="/img/weather.png">
    </head>
    <body>
        <div class="sticky">
        {{>header}}

        <p>{{message}}</p> 
        </div>
        <footer>{{>footer}}</footer>
    </body>
</html>