<!DOCTYPE html>
<html>
    <head>
        <title>HELP</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel = "icon" href ="/img/weather.png">
    </head>
    <body>
        <div class="sticky">
        {{>header}}

        <p>{{message}}</p> 
        <p>Contact me @ jayakumargowtham2812@gmail.com</p>
        <p>Feedbacks are most welcomed(Especially Constructive criticism.) </p>
        </div>
        <footer>{{>footer}}</footer>
    </body>
</html>