<!DOCTYPE html>
<html>
    <head>
        <title>WEATHER</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel = "icon" href ="/img/weather.png">
        
    </head>
    <body>
        <div class="sticky">
        {{>header}}
        <img class="pimg" src="/img/book.jpeg">
        <form >
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p1 id="msg1"></p1>
        <p2 id="msg2"></p2>
        </div>
       
        <footer>{{>footer}}</footer>
        <script src="/js/jsapp.js"></scriptsrc></script>
    </body>
</html>